* {
    box-sizing: border-box;
}


footer, header {
    height: 150px;
    border: 1px solid black;
    background-color: rgb(233, 118, 166);
    text-align: center;
    font-size: large;
    clear: both;
}

section div {
    height: 150px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
    background-color: rgb(223, 48, 106);
}

section > div:nth-child(2){
    height: 220px;
    width: 40%;
    border: 1px solid black;
    float: left;
}

section > div:nth-child(3){
    height: 220px;
    width: 60%;
    float: left;
}