* {
    box-sizing: border-box;
}

header, footer {
    height: 125px;
    border: 1px solid black;
    clear: both;
    background-color: blueviolet;
    text-align: center;
    font-size: large;
    color: white;
}

section div {
    height: 300px;
    width: 20%;
    border: 1px solid black;
    float: left;
    text-align: center;
    background-color: aqua;
    font-size: large;
}

section div:nth-child(2){
    height: 300px;
    width: 40%;
    border: 1px solid black;
    float: left;
    text-align: center;
}